@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #743232;
  background: var(--background);
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
}
