@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  background-color: #D0CBC7;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
}
